.picture {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  border-width: 10px;
  border-style: solid;
  border-color: rgb(16, 76, 145);
}

.navigation {
  margin-top: 10%;
  line-height: 2.5em;
}

a {
  margin: 30px;
  color: #1F8AC0;
  font-size: 24px;
}

.navigation :hover {
  text-decoration: none;
  font-weight: bold
}
