<div class="left-col text-center p-5" style="background: #efc9af">
  <div class="main-text">
    <h1 style="color: #104c91">Jerry Hsieh</h1>
    <h5 style="color: #1f8ac0">Personals Website</h5>
  </div>

  <div class="profile">
    <img
      src="https://cdn.discordapp.com/attachments/804871652679614554/810887162647150612/eba8c0ca9a8e95c646e3fabb9494341a.jpg"
      alt="Picture"
      class="picture"
    />
  </div>

  <div class="text-center navigation">
    <a [routerLink]="['/']" routerLinkActive="router-link-active">About</a>
    <br />
    <a [routerLink]="['/project']" routerLinkActive="router-link-active"
      >Project</a
    >
    <br />
    <a [routerLink]="['/contact']" routerLinkActive="router-link-active"
      >Contact</a
    >
    <br />
  </div>
</div>
