<div class="right-col p-5 col-8">
  <div class="row">
    <h1 class="title-text">Contact</h1>
    <table class="table">
      <tbody>
        <tr>
          <td>
            <a href="https://discordapp.com/users/353656971435704320/"
              >Discord</a
            >
          </td>
          <td>Jake#6197</td>
        </tr>
        <tr>
          <td>
            <a href="https://www.linkedin.com/in/jerry-hsieh-8268a1203/"
              >Linkedin</a
            >
          </td>
          <td>jerry-hsieh-8268a1203</td>
        </tr>
        <tr>
          <td>
            <a href="mailto:jerryhsieh20020220@gmail.com">Gmail</a>
          </td>
          <td>jerryhsieh20020220@gmail.com</td>
        </tr>
        <tr>
          <td>
            <a href="https://twitter.com/jh2k2f">Twitter</a>
          </td>
          <td>jh2k2f</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
