<div class="right-col p-5 col-8">
  <div class="row">
    <h1 class="title-text">About Me</h1>
    <p class="body-text">
      Hello there, thanks for visiting my website. My name is Chun Li
      Hsieh(Jerry Hsieh). I am currently an undergraduate student pursuing an
      Electrical Engineering and Computer Science Degree. I am currently looking
      for internships, and eager to try out all fields of programming. If you
      have any question, let me know via the contact section.
    </p>
  </div>

  <div class="row">
    <h1 class="title-text">Experiences</h1>
    <ul class="body-text text-wrap">
      <li>
        Open Source Software contributor on
        <a href="https://github.com/jh2k2">Github</a>
      </li>
      <li>
        Full Stack Web Developer for a
        <a href="https://www.homefetch.es">startup</a> using MEAN stack
      </li>
      <li>
        Freelanced on
        <a href="https://www.fiverr.com/users/jerryh108">Fiverr</a>
      </li>
      <li>
        Participated in numerous
        <a
          href="https://devpost.com/JerryHsieh?ref_content=user-portfolio&ref_feature=portfolio&ref_medium=global-nav"
          >hackathons</a
        >
      </li>
    </ul>
  </div>

  <div class="row">
    <h1 class="title-text">Tools</h1>
    <ul class="body-text">
      <li>Javascript/Typescript</li>
      <li>Python/Java</li>
      <li>C++/C#/Rust</li>
      <li>MongoDB/MySQL</li>
      <li>Angular/React/React-Native</li>
      <li>Flask, Node</li>
      <li>Tensorflow/ScikitLearn</li>
      <li>AWS/Heroku</li>
      <li>Git</li>
    </ul>
  </div>

  <div class="row">
    <h1 class="title-text">Qualities</h1>
    <ul class="body-text">
      <li>Eager to Learn</li>
      <li>Maximum Effort</li>
      <li>Team Leader</li>
      <li>Bilingual</li>
    </ul>
  </div>
</div>
